<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--日志具体实现-->
        <setting name="logImpl" value="LOG4J"/>
        <!--使用延迟加载需要使用以下两个属性-->
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <setting name="aggressiveLazyLoading" value="false"></setting>
        <setting name="cacheEnabled" value="true"></setting>
    </settings>


    <!--
     <mappers>
        <package name="com.ken.mapper"></package>
    </mappers>
    -->
</configuration>
