html,body,p,dl,dt,dd{margin:0; padding:0; font-size: 12px;}
table{width: 100%; border-collapse: collapse;}
td{border:1px solid #ccc;}

.page{
    padding-top: 5px;
    text-align: center;
}

.page a,span{
    display: inline-block;
    padding:5px 8px;
    margin-left: 5px;
}

.page a{
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.center{text-align: center;}

